.page {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  width: 100%;
  padding-top: 28px;
  color: white;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 16px;
    max-width: 320px;
  }
}

