.footer__link {
  align-self: flex-start;
  margin-right: 18px;
}

.footer__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 730px) {
  .footer__link {
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 32px;
  }
}
