.intro__box {
  max-width: 690px;
  min-height: 429px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .intro__box {
    /* max-height: 580px; */
  }
}

@media screen and (max-width: 768px) {
  .intro__box {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__box {
    max-width: 288px;
  }
}
