.intro {
  max-width: 984px;
  width: 100%;
  align-self: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    /* margin-top: 92px;
    margin-bottom: 92px; */
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    /* margin-top: 88px;
    margin-bottom: 88px; */
  }
}

@media screen and (max-width: 320px) {
  .intro {
    /* margin-top: 64px;
    margin-bottom: 64px; */
    max-width: 288px;
  }
}
