.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto;
  min-height: 740px;
  background-image: url(../images/Baikal/__background1280.png);
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 66px auto;
  }
}

