.footer {
  max-width: 1184px;
  padding-bottom: 24px;
  width: 100%;
  height: 18px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter";
}
